build/bin
node_modules
frontend/dist
/frontend/yarn.lock
/frontend/package-lock.json
/frontend/package.json.md5
/duola.dat
/ollama-client.db
/tools-ollama
/frontend/wailsjs/
/data/
/logs/
/tmp/
/temp/
*.log
*.db
*.db*
/yarn.lock
